div.container {
    margin-top: 21px;
}

div.adtitle {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.adtitle h1, div.adtitle p {
    color: white;
    text-shadow: 3px 3px 3px black;
}

div.carousel-caption {
    text-shadow: 3px 3px 3px black;
}

div.card a {
    text-decoration: none;
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-mini {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: firebrick !important;
}

/* étoiles font-awesome */
span.rating i {
    color: goldenrod;
}



/* refonte du css du site */

div.adtitle .btn {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
}

/* concernant les liens boutons */
.alert a {
    text-decoration: none;
}
.alert .btn {
    color: white;
}

.avatar-micro {
    max-width: 30px;
    max-height: 30px;
}


