<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBNB - {% block title %}Welcome!{% endblock %}</title>

        <!-- Permet les media-queries pour mobile ! user-scalable=no interdit zomm et dezoom -->
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" /> <!-- Font Awesome pour les petits logos -->
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'admin/common/header.html.twig' %}

        {% block body %}{% endblock %}
        
        {% include 'admin/common/footer.html.twig' %}
        
        <!-- Attention: en premier jquery, popper puis bootstrap -->
        <script src="/js/jquery.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
