<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBNB - {% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'common/header.html.twig' %}

        {% block body %}{% endblock %}
        
        {% include 'common/footer.html.twig' %}
        
        <!-- Attention: en premier jquery, popper puis bootstrap -->
        <script src="/js/jquery.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
