{% extends "base.html.twig" %}
{# Pour tester cette page : /_error/404 #}
{# Il faut exactement les mêmes sous-dossiers pour que ce soit pris en compte 
car à la base c'est le bundle 'TwigBundle' qui gère les pages d'erreurs #}
{% block title %}Accès non autorisé{% endblock %}

{% block body %}
<div class="container">
    <h1>Accès non autorisé !!</h1>
    <div class="alert alert-danger">
        <p>Vous n'avez pas le droit d'accéder à cette ressource !</p>
    </div>
    
    <a href="{{ path('home') }}" class="btn btn-primary">Retourner à l'accueil</a>
</div>
{% endblock %}